
  .videos-row-wrapper {
    margin-bottom: 50px;
    .row-scrolling-wrapper {
      overflow-x: auto;
      overflow-y: hidden;
      flex-shrink: 1;
      flex-grow: 1;
      padding-left: 30px;
      .row-content {
        display: flex;
        flex-direction: row;
        .item-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          .item {
            flex-direction: column;
            flex-direction: center;
            align-items: center;
            width: 300px;
            height: 200px;
            margin-left: 10px;
            background-color: blue;
          }
          .focused {
            border: 2px white solid;
            background-color: red;
          }
        }
      }
    }
    .row-scrolling-wrapper::-webkit-scrollbar {
      display: none;
    }
  }

