@font-face {
    font-family: "medium";
    src: local("BrandingMedium"),
      url("../../fonts/Branding-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "semi-bold";
    src: local("BrandingSemibold"),
      url("../../fonts/Branding-Semibold.ttf") format("truetype");
  }
  @font-face {
    font-family: "bold";
    src: local("BrandingBold"),
      url("../../fonts/Branding-Bold.ttf") format("truetype");
  }