@import "../base/var";

.main {
  display: flex;
}
.full-width {
  width: 100%;
}
.gradient-darkblue-purple {
  background: linear-gradient(90deg, $dark-blue, $purple);
}

h1 {
  font-size: 4.5vw;
  font-family: bold;
}
h2 {
  font-size: 3vw;
  font-family: semi-bold;
}
