/* colors */
$black: #000000;
$white: #ffffff;
$dark-blue: #061636;
$purple: #22112e;
$light-blue: #38a9e1;
$light-blue-transparency: rgba(56, 169, 225, 0.12);
$light-blue-program-focused: rgba(56, 169, 225, 0.15);
$grey-line: #505b71;
$grey: #979eab;
$grey-disabled: #bdc3c7;
$grey-text-disabled: #7f8c8d;
$slider-track-empty: #ddd;

