.avatar-container-small {
  position: absolute;
  width: 100%;
  top: 3%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .avatar-wrapper {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    background-color: $light-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      font-size: 1.5vw;
      font-family: semi-bold;
      color: $white;
    }
  }
}
