.home-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease 0s;
  span {
    font-size: 2em;
    font-family: semi-bold;
    color: $white;
  }
}

